<!DOCTYPE html>
<html>
<head>
     <meta  charset="UTF-8">
     <title>FTP客户端登录</title>
</head>
<body>
     <h1>FTP客户端登录</h1>
     <form  method="post">
         <B>用户名：</B><input class="text" type="text" name="username" placeholder="用户名" required=""><br><br>
         <B>密码：</B><input class="text" type="password" name="password" placeholder="密码" required=""><br><br>
         <B>ftp地址：</B><input class="text" type="text" name="ftphost" placeholder="FTP地址" required=""><br><br>
         <B>ftp端口：</B><input class="text" type="text" name="ftpport" placeholder="FTP端口" required=""><br><br>
         <input  type="submit" name="登录"><br>
         <p style="color: red;">{{ msg }}</p>
     </form>
</body>
</html>